<table>
  <thead>
    <tr>
      <td>枠</td>
      <td>馬番</td>
      <td>馬名</td>
      <td>性齢</td>
      <td>騎手</td>
      <td>馬体重</td>
    </tr>
  </thead>
  <tbody>
    <% race_horses.each do |race_horse| %>
      <tr>
        <td><%= race_horse.frame %></td>
        <td><%= race_horse.number %></td>
        <td><%= race_horse.horse.name %></td>
        <td><%= race_horse.sexage %></td>
        <td><%= race_horse.jockey %></td>
        <td><%= race_horse.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>