
<div class="container odds_history">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table>
      <thead>
        <tr>
          <th><strong>&#35;</strong></th>
          <th><strong>取得時刻</strong></th>
          <% odds_histories[0].data.size.times do |i| %>
            <th><strong><%= i + 1 %></strong></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% odds_histories.each.with_index(1) do |odds, i| %>
          <tr>
            <td><%= i %></td>
            <td><%= odds.created_at.strftime('%H:%M:%S') %></td>
            <% odds.data.each do |value| %>
              <td class="<%= value.zero? ? 'zero' : ('dominant' if value < 10.0) %>">
                <%= value %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
