
<div class="container odds_history">
  <div class="col-md-12">
    <table align="center">
      <thead>
        <tr>
          <th><strong> &#35; </strong></th>
          <th><strong> 取得時刻 </strong></th>
          <% odds_histories[0].data.size.times do |i| %>
            <th class="<%= frame_css_from_number(i + 1) %>" title="<%= tooltip_horse_name(i + 1) %>" data-bs-toggle="tooltip" data-bs-placement="top">
              <%= i + 1 %>
            </th>
          <% end %>
          <th> weight </th>
          <th> certainty </th>
        </tr>
      </thead>
      <tbody>
        <% odds_histories.each.with_index(1) do |odds, i| %>
          <tr>
            <td><%= i %></td>
            <td><%= odds.created_at.strftime('%H:%M:%S') %></td>
            <% odds.data_for_display.each do |value| %>
              <td class="<%= odds_css(value) %>">
                <%= value %>
              </td>
            <% end %>
            <td><%= display_weight params[:a][i - 1] %></td>
            <td><%= display_certainty params[:b][i - 1] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
