
<div class="container strategies">
  <div class="col-md-12">
    <table align="center">
      <thead>
        <tr>
          <th></th>
          <% proposer.t.size.times do |i| %>
            <th class="<%= frame_css_from_number(i + 1) %>" title="<%= tooltip_horse_name(i + 1) %>" data-bs-toggle="tooltip" data-bs-placement="top">
              <%= i + 1 %>
            </th>
          <% end %>
          <th> expect </th>
          <th> prob. </th>
          <th> actual </th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td> true distirbution </td>
          <% proposer.t.each do |value| %>
            <td class="<%= true_distribution_css(value) %>">
              <%= display_float value %>
            </td>
          <% end %>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <%= render 'strategy_detail', name: 'base strategy', strategy: proposer.base_strategy %>
        <%= render 'strategy_detail', name: 'gain strategy', strategy: proposer.gain_strategy %>
        <%= render 'strategy_detail', name: 'hit strategy', strategy: proposer.hit_strategy %>

      </tbody>
    </table>
  </div>
</div>
