<table>
  <thead>
    <tr>
      <td>レース名</td>
      <td>格付</td>
      <td>出走日</td>
      <td>出走時刻</td>
      <td>競馬場</td>
      <td>レース番号</td>
      <td>距離</td>
      <td>種別</td>
    </tr>
  </thead>
  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= link_to race.name, race %></td>
        <td><%= race.race_class.name %></td>
        <td><%= race.race_date.value %></td>
        <td><%= race.starting_time %></td>
        <td><%= race.course.name %></td>
        <td><%= race.number %>R</td>
        <td><%= race.distance %></td>
        <td><%= race.course_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= debug(@races[0..4].map { |race| race.attributes }) if Rails.env.development? %>
