
<%= render 'form' %>

<div class="container stats">
  <div class="col-md-12">
    <div class="row average">
      <span id="gain_average">Averaged gain of Gain Strategy: </span>
    </div>
    <div class="row average">
      <span id="hit_average">Averaged gain of Hit Strategy: </span>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div id="chart"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= javascript_include_tag 'draw_chart' %>

<script type="text/javascript">
  function setApiUrl() {
    let url = new URL('/stats/api', location.href);
    <% %i(course number race_class date_start date_end certainty minimum_hit).each do |key| %>
      <% next if params[key].blank? %>
      <% if params[key].is_a?(Array) %>
        <% params[key].each do |elem| %>
          url.searchParams.append('<%= key.to_s + '[]' %>', '<%= elem %>');
        <% end %>
      <% else %>
        url.searchParams.append('<%= key.to_s %>', '<%= params[key] %>');
      <% end %>
    <% end %>
    console.log(url);
    return url;
  }

  function drawChartOnLoad(xhr) {
    drawGainChart(xhr);
    setAverageOverall(xhr);
  }

  function drawGainChart(xhr) {
    var res = [['日時', 'gain actual', 'gain expected', 'hit actual', 'hit expected']];
    if (xhr.status != 200) return;

    xhr.response.time_seq.forEach((x) => {
      res.push([x.date, x.gain_actual, x.gain_expected, x.hit_actual, x.hit_expected]);
    });
    var data = new google.visualization.arrayToDataTable(res);
    var options = {
        legend: { position: 'right', textStyle: {fontSize: 12} },
        chartArea: { width: "75%" },
        vAxis: { gridlines: { count: 5 } },
        hAxis: { format: 'MM/dd', gridlines: { count: 20 } },
    };
    var chart = new google.visualization.LineChart(document.getElementById('chart'));
    chart.draw(data, options);
  }

  function setAverageOverall(xhr) {
    let data = xhr.response.averages;
    let round_base = 1000;
    let gainAverage = document.getElementById("gain_average");
    let hitAverage = document.getElementById("hit_average");
    gainAverage.textContent += Math.round(data.gain_average * round_base) / round_base;
    hitAverage.textContent += Math.round(data.hit_average * round_base) / round_base;
  }
</script>
